<div class="container">
    <h1>Obchod</h1>
    <form id="redeemform" class="form-inline">
        <div class="input-group">
            <input type="text" id="code" name="code" placeholder="Zadaj kód" class="form-control">
            <input type="submit" class="btn btn-primary">
        </div>
    </form>
    <script defer>
        const form = document.getElementById('redeemform')
        const coins = document.getElementById('coins')
        form.addEventListener('submit', (e) => {
            e.preventDefault()
            const formData = new FormData(form)
            fetch('/coins/redeem', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    code: formData.get('code')
                })
            }).then(res=> {
                if(res.status == 400){
                    return
                }
                res.json().then((data)=> {
                    form.reset()
                    location.reload()
                })
            })
        })
    </script>
</div>